.box-styles {
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    background-color: #1a1a1a;
    cursor: pointer;
}

.number-display:hover{
    color: purple;
    cursor: pointer;
}

.number-display {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    color: white;
    min-height: 60px;
    /* border: 1px solid #ccc; */
}

.generate-button:hover {
    background-color: purple;
    color: white;
    border: none;
}

.generate-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: grey;
    color: black;
    border-radius: 10px;
}